# **identify and classify documents by topic project**

# reading data

our data set consists of 10 folders each folder contains 100 document of a particular field/topic so we'll be adding them to our pandas dataframe and give it a label . so our data well be labeled as the following --> ( business:1 , entertainement:2 , food:3 , graphics:4 , historical:5 , medical:6 , politics:7 , space:8 , sport:9 , technologie:10 )

In [4]:
import numpy as np
import pandas as pd
import nltk
import re 
import string                                        
from nltk.corpus import stopwords        
from nltk.stem import PorterStemmer 
from nltk.tokenize import TweetTokenizer 
import math

In [6]:
def read_file (path):
  s_doc = []
  for i in range(1,100):
    s =  str(i) +'.txt'
    final_path = path + s 
    with open(final_path , 'r') as reader:
      s_doc.append(reader.read())
  
  return s_doc

In [7]:
ind_list = []
doc_list = []
df = pd.DataFrame(columns=['document' , 'label'])
datadir = '/content/drive/MyDrive/archive/'
classes = ['business' , 'entertainment' , 'food' , 'graphics' , 'historical' , 'medical' , 'politics' , 'space' , 'sport' , 'technologie']
for c in classes :
  path = datadir + c + '/' + c + '_'
  class_num = classes.index(c) + 1
  doc_list = read_file(path)
  tmp_df = pd.DataFrame(columns=['document' , 'label'])
  tmp_df['document'] = doc_list
  tmp_df['label'] = class_num
  df = pd.concat([df , tmp_df] , ignore_index=True)

In [8]:
df.head()

                                            document label
0  Lufthansa flies back to profit\n\nGerman airli...     1
1  Japanese growth grinds to a halt\n\nGrowth in ...     1
2  WorldCom director admits lying\n\nThe former c...     1
3  Glaxo aims high after profit fall\n\nGlaxoSmit...     1
4  Peugeot deal boosts Mitsubishi\n\nStruggling J...     1

In [9]:
df.label.unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype=object)

# preprocessing

In [10]:
nltk.download("stopwords")
stop_words= stopwords.words('english')
stemmer = PorterStemmer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [11]:
def clean(doc):
    doc = re.sub(r'\$\w*', '', doc)
    doc = re.sub(r'^RT[\s]+', '', doc)
    doc = re.sub(r'https?:\/\/.[\r\n]', '', doc)
    doc = re.sub(r'#', '', doc)
    doc = re.sub(r'[0123456789\’\…\.\/_\”]*', '', doc)

    tokenizer = TweetTokenizer(preserve_case=False, strip_handles=True, reduce_len=True)
    tokens = tokenizer.tokenize(doc)
    
    cleandoc = []    
    for word in tokens:
        if (word not in stop_words and  word not in string.punctuation):
            stem_word = stemmer.stem(word) 
            cleandoc.append(stem_word)
            
    return cleandoc

In [12]:
clean_docs = []
for i in range(df.shape[0]):
  clean_docs.append(clean(df.iloc[i]['document']))

In [13]:
df['clean_tokens'] = clean_docs

In [14]:
df.head()

                                            document  ...                                       clean_tokens
0  Lufthansa flies back to profit\n\nGerman airli...  ...  [lufthansa, fli, back, profit, german, airlin,...
1  Japanese growth grinds to a halt\n\nGrowth in ...  ...  [japanes, growth, grind, halt, growth, japan, ...
2  WorldCom director admits lying\n\nThe former c...  ...  [worldcom, director, admit, lie, former, chief...
3  Glaxo aims high after profit fall\n\nGlaxoSmit...  ...  [glaxo, aim, high, profit, fall, glaxosmithkli...
4  Peugeot deal boosts Mitsubishi\n\nStruggling J...  ...  [peugeot, deal, boost, mitsubishi, struggl, ja...

[5 rows x 3 columns]

In [15]:
df.clean_tokens[0]

['lufthansa',
 'fli',
 'back',
 'profit',
 'german',
 'airlin',
 'lufthansa',
 'return',
 'profit',
 'post',
 'huge',
 'loss',
 'preliminari',
 'report',
 'airlin',
 'announc',
 'net',
 'profit',
 'euro',
 '£',
 'compar',
 'loss',
 'euro',
 'oper',
 'profit',
 'euro',
 'ten',
 'time',
 'lufthansa',
 'hit',
 'tough',
 'competit',
 'dip',
 'demand',
 'follow',
 'iraq',
 'war',
 'killer',
 'sar',
 'viru',
 'also',
 'hit',
 'troubl',
 'us',
 'cater',
 'busi',
 'last',
 'year',
 'lufthansa',
 'show',
 'sign',
 'recoveri',
 'even',
 'european',
 'us',
 'airlin',
 'teeter',
 'brink',
 'bankruptci',
 'board',
 'lufthansa',
 'recommend',
 'pay',
 'dividend',
 'euro',
 'per',
 'share',
 'sharehold',
 'get',
 'dividend',
 'compani',
 'said',
 'give',
 'detail',
 'result',
 'march']

# training logistic regression classifier

In [16]:
def frequency( token_lists , label ):
  freq = {}
  count = 1 
  for i in range(len(token_lists)):
    for token in token_lists[i]:
      key = token
      if token in freq.keys() :
        count = count + 1
      else :
        count = 1
      value = [count , label]
      freq[key] = value
  return freq

In [17]:
freq = {}
for i in range(1,11):
  class_alone = df.query('label == ' + str(i))['clean_tokens']
  class_alone = class_alone.set_axis(range(0,99) , axis=0)
  freq2 = frequency(class_alone , i)
  freq.update(freq2)

In [18]:
freq

{'lufthansa': [2, 1],
 'fli': [25, 9],
 'back': [18, 10],
 'profit': [2, 10],
 'german': [1, 10],
 'airlin': [30, 8],
 'return': [15, 10],
 'post': [12, 10],
 'huge': [9, 10],
 'loss': [9, 8],
 'preliminari': [4, 9],
 'report': [2, 10],
 'announc': [12, 10],
 'net': [16, 10],
 'euro': [16, 10],
 '£': [3, 10],
 'compar': [34, 10],
 'oper': [6, 10],
 'ten': [4, 10],
 'time': [2, 10],
 'hit': [3, 10],
 'tough': [5, 10],
 'competit': [9, 10],
 'dip': [6, 9],
 'demand': [18, 10],
 'follow': [36, 10],
 'iraq': [37, 7],
 'war': [2, 10],
 'killer': [1, 9],
 'sar': [4, 8],
 'viru': [3, 10],
 'also': [4, 10],
 'troubl': [16, 10],
 'us': [12, 10],
 'cater': [1, 1],
 'busi': [2, 10],
 'last': [3, 10],
 'year': [9, 10],
 'show': [36, 10],
 'sign': [5, 10],
 'recoveri': [14, 9],
 'even': [4, 10],
 'european': [4, 10],
 'teeter': [1, 1],
 'brink': [1, 1],
 'bankruptci': [3, 1],
 'board': [10, 10],
 'recommend': [5, 10],
 'pay': [27, 10],
 'dividend': [1, 9],
 'per': [4, 10],
 'share': [5, 10],
 'sharehold': [72, 1],
 'get': [13, 10],
 'compani': [13, 10],
 'said': [5, 10],
 'give': [20, 10],
 'detail': [9, 10],
 'result': [2, 10],
 'march': [27, 10],
 'japanes': [3, 10],
 'growth': [8, 10],
 'grind': [1, 9],
 'halt': [1, 9],
 'japan': [31, 10],
 'evapor': [1, 7],
 'three': [46, 10],
 'month': [31, 10],
 'septemb': [39, 10],
 'spark': [2, 10],
 'renew': [1, 10],
 'concern': [2, 10],
 'economi': [5, 10],
 'long': [11, 10],
 'decade-long': [1, 1],
 'trough': [1, 1],
 'output': [1, 8],
 'period': [7, 10],
 'grew': [9, 10],
 'annual': [16, 10],
 'rate': [20, 10],
 'export': [96, 10],
 'usual': [36, 10],
 'engin': [3, 10],
 'falter': [1, 7],
 'domest': [5, 9],
 'stay': [17, 10],
 'subdu': [1, 5],
 'corpor': [30, 10],
 'invest': [9, 10],
 'fell': [1, 10],
 'short': [2, 10],
 'fall': [9, 10],
 'well': [12, 10],
 'expect': [5, 10],
 'mark': [5, 10],
 'sixth': [8, 9],
 'straight': [20, 10],
 'quarter': [11, 10],
 'expans': [15, 10],
 'stagnat': [20, 1],
 'throughout': [1, 10],
 'experienc': [1, 10],
 'brief': [16, 10],
 'spurt': [15, 1],
 'amid': [2, 7],
 'doldrum': [1, 1],
 'one': [19, 10],
 'deflat': [1, 1],
 'price': [8, 10],
 'rather': [13, 10],
 'rise': [19, 10],
 'made': [2, 10],
 'shopper': [5, 10],
 'cautiou': [166, 9],
 'kept': [2, 10],
 'spend': [9, 10],
 'effect': [8, 10],
 'leav': [7, 10],
 'depend': [6, 10],
 'ever': [27, 10],
 'recent': [2, 10],
 'high': [3, 10],
 'oil': [1, 10],
 'knock': [1, 9],
 'dollar': [1, 10],
 'mean': [22, 10],
 'product': [10, 10],
 'ship': [16, 10],
 'becom': [9, 10],
 'rel': [12, 10],
 'expens': [34, 10],
 'perform': [14, 10],
 'third': [32, 10],
 'sharp': [13, 10],
 'downturn': [1, 7],
 'earlier': [23, 10],
 'first': [9, 10],
 'second': [23, 10],
 'economist': [1, 7],
 'predict': [23, 10],
 'much': [20, 10],
 'around': [4, 10],
 'slow': [139, 10],
 'capit': [2, 10],
 'becam': [13, 10],
 'weaker': [1, 5],
 'hiromichi': [1, 1],
 'shirakawa': [1, 1],
 'chief': [2, 10],
 'ub': [3, 1],
 'secur': [43, 10],
 'tokyo': [1, 9],
 'person': [4, 10],
 'consumpt': [8, 10],
 'look': [8, 10],
 'good': [12, 10],
 'mainli': [4, 10],
 'due': [8, 10],
 'temporari': [17, 8],
 'factor': [8, 10],
 'olymp': [1, 10],
 'amber': [1, 1],
 'light': [32, 10],
 'flash': [2, 10],
 'govern': [2, 10],
 'may': [5, 10],
 'find': [3, 10],
 'difficult': [7, 10],
 'rais': [5, 10],
 'tax': [1, 9],
 'polici': [3, 10],
 'implement': [10, 10],
 'pick': [15, 10],
 'help': [5, 10],
 'deal': [5, 10],
 "japan'": [135, 2],
 'massiv': [5, 10],
 'public': [7, 10],
 'debt': [16, 7],
 'worldcom': [2, 1],
 'director': [2, 10],
 'admit': [11, 10],
 'lie': [9, 10],
 'former': [3, 10],
 'financi': [6, 10],
 'offic': [4, 10],
 'telecom': [4, 10],
 'firm': [5, 10],
 'new': [12, 10],
 'york': [1, 10],
 'court': [2, 10],
 'use': [12, 10],
 'fellow': [2, 9],
 'member': [18, 10],
 'speak': [20, 10],
 'trial': [6, 10],
 'boss': [3, 10],
 'bernard': [1, 10],
 'ebber': [2, 1],
 'scott': [3, 9],
 'sullivan': [3, 6],
 'cover': [2, 10],
 'hole': [141, 10],
 "worldcom'": [3, 1],
 'financ': [4, 10],
 'mr': [6, 10],
 'fraud': [6, 10],
 'conspiraci': [1, 10],
 'relat': [28, 10],
 'collaps': [1, 10],
 'plead': [15, 10],
 'guilti': [16, 10],
 'overst': [1, 7],
 'account': [3, 10],
 'bn': [12, 10],
 'alreadi': [13, 10],
 'sentenc': [1, 10],
 'appear': [13, 10],
 'prosecut': [1, 9],
 'wit': [2, 7],
 'alway': [8, 10],
 'insist': [1, 10],
 'unawar': [27, 10],
 'hidden': [7, 10],
 'shortfal': [1, 7],
 'wednesday': [1, 10],
 'lawyer': [5, 10],
 'reid': [1, 9],
 'weingarten': [5, 1],
 'ask': [24, 10],
 'believ': [38, 10],
 'someth': [31, 10],
 'interest': [14, 10],
 'will': [8, 10],
 'abl': [18, 10],
 'accomplish': [1, 10],
 'right': [3, 10],
 'date': [10, 10],
 'ye': [5, 10],
 'repli': [15, 8],
 'suggest': [10, 10],
 'implic': [1, 7],
 'win': [9, 10],
 'lighter': [3, 10],
 'deni': [3, 9],
 'reject': [2, 10],
 'told': [32, 10],
 'bert': [2, 1],
 'robert': [1, 10],
 'week': [32, 10],
 'hour': [38, 10],
 'question': [6, 10],
 'feder': [31, 10],
 'prosecutor': [9, 9],
 'previous': [6, 10],
 'repeatedli': [1, 10],
 'warn': [3, 10],
 'falsifi': [1, 5],
 'book': [24, 10],
 'would': [4, 10],
 'way': [16, 10],
 'meet': [19, 10],
 'wall': [1, 10],
 'street': [10, 10],
 'revenu': [35, 10],
 'earn': [7, 10],
 'claim': [5, 10],
 'refus': [3, 10],
 'stop': [5, 10],
 'could': [7, 10],
 'face': [17, 10],
 'convict': [5, 10],
 'charg': [17, 10],
 'problem': [12, 10],
 'begun': [1, 10],
 'dotcom': [1, 1],
 'boom': [1, 10],
 'cut': [6, 10],
 'internet': [16, 10],
 'alleg': [2, 10],
 "company'": [12, 10],
 'top': [2, 10],
 'execut': [3, 10],
 'respond': [21, 10],
 'orchestr': [1, 5],
 'two-year': [56, 9],
 'emerg': [3, 10],
 'protect': [12, 10],
 'known': [12, 10],
 'mci': [3, 1],
 'glaxo': [4, 1],
 'aim': [11, 10],
 'glaxosmithklin': [1, 1],
 'saw': [14, 10],
 "europe'": [25, 10],
 'biggest': [2, 10],
 'drugmak': [8, 1],
 'say': [19, 10],
 'cheap': [29, 10],
 'copi': [15, 10],
 'drug': [75, 9],
 'particularli': [26, 10],
 'anti-depress': [1, 1],
 'paxil': [1, 1],
 'wellbutrin': [1, 1],
 'weak': [1, 10],
 'global': [3, 10],
 'sale': [4, 10],
 'confid': [3, 10],
 'pipelin': [1, 2],
 'deliv': [25, 10],
 'despit': [3, 10],
 'failur': [2, 10],
 'obes': [1, 8],
 'jean-pierr': [1, 1],
 'garnier': [3, 1],
 'earli': [11, 10],
 'afternoon': [1, 10],
 'trade': [8, 10],
 'london': [2, 10],
 'penc': [10, 1],
 'absorb': [1, 10],
 'lost': [4, 10],
 'gener': [6, 10],
 'still': [11, 10],
 'manag': [6, 10],
 'grow': [17, 10],
 'continu': [6, 10],
 'success': [5, 10],
 'key': [23, 10],
 'forward': [6, 10],
 'import': [5, 10],
 'term': [5, 10],
 'research': [13, 10],
 'develop': [3, 10],
 'progress': [1, 10],
 'howev': [20, 10],
 'discontinu': [4, 10],
 'experiment': [3, 8],
 'treatment': [2, 10],
 'disappoint': [1, 10],
 'clinic': [1, 10],
 'reli': [13, 10],
 'condit': [4, 9],
 'cancer': [1, 10],
 'diabet': [3, 6],
 'depress': [1, 8],
 'hivaid': [1, 7],
 'allergi': [6, 6],
 'lift': [7, 9],
 'pace': [8, 10],
 'sever': [5, 10],
 'peugeot': [3, 1],
 'boost': [15, 10],
 'mitsubishi': [3, 1],
 'struggl': [4, 10],
 'car': [15, 10],
 'maker': [12, 10],
 'motor': [1, 9],
 'struck': [1, 10],
 'suppli': [21, 10],
 'french': [5, 10],
 'sport': [5, 10],
 'util': [3, 10],
 'vehicl': [12, 8],
 'suv': [2, 1],
 'two': [30, 10],
 'memorandum': [8, 1],
 'understand': [8, 10],
 'seal': [1, 10],
 'final': [10, 10],
 'agreement': [1, 9],
 'spring': [1, 10],
 'allianc': [1, 10],
 'come': [11, 10],
 'badly-need': [1, 1],
 'loss-mak': [5, 1],
 'poor': [27, 10],
 'built': [10, 10],
 "peugeot'": [1, 1],
 'diesel': [2, 1],
 'sold': [21, 10],
 'market': [3, 10],
 'left': [23, 10],
 'underus': [1, 1],
 'capac': [10, 10],
 'chanc': [6, 10],
 'utilis': [1, 5],
 'januari': [8, 10],
 'issu': [11, 10],
 'nine': [6, 10],
 'forecast': [10, 10],
 'slid': [1, 1],
 'past': [4, 10],
 'catalys': [1, 1],
 'revel': [1, 10],
 'systemat': [5, 7],
 'hide': [10, 10],
 'record': [10, 10],
 'fault': [2, 8],
 'secretli': [15, 10],
 'repair': [4, 6],
 'sought': [1, 9],
 'seri': [5, 10],
 'bailout': [1, 1],
 'yen': [10, 2],
 'fresh': [3, 10],
 'half': [11, 10],
 'group': [9, 10],
 'us-german': [1, 1],
 'carmak': [43, 1],
 'daimlerchryls': [1, 1],
 'decid': [4, 10],
 'april': [2, 10],
 'pump': [1, 10],
 'money': [11, 10],
 'celebr': [36, 10],
 "mitsubishi'": [1, 1],
 'newly-appoint': [1, 1],
 'takashi': [5, 1],
 'nishioka': [1, 1],
 'took': [3, 10],
 'stood': [1, 10],
 'shoulder': [27, 9],
 'respons': [3, 10],
 "firm'": [9, 10],
 'current': [10, 10],
 'rival': [4, 10],
 'nissan': [5, 1],
 'small': [6, 10],
 'make': [8, 10],
 'sinc': [3, 10],
 'add': [17, 10],
 'job': [27, 10],
 'ad': [3, 10],
 'octob': [7, 10],
 'seven-month': [1, 1],
 'far': [10, 10],
 'welcom': [24, 10],
 'econom': [1, 10],
 'newli': [1, 10],
 're-elect': [14, 7],
 'presid': [2, 10],
 'georg': [2, 10],
 'w': [3, 10],
 'bush': [6, 7],
 'labor': [7, 6],
 'depart': [20, 10],
 'figur': [21, 10],
 'summer': [3, 10],
 'gain': [3, 10],
 'creat': [23, 10],
 'everi': [29, 10],
 'sector': [4, 10],
 'except': [1, 10],
 'manufactur': [16, 10],
 'separ': [6, 10],
 'unemploy': [4, 7],
 'went': [12, 10],
 'peopl': [2, 10],
 'activ': [17, 10],
 'seek': [19, 10],
 'work': [9, 10],
 'payrol': [80, 1],
 'twice': [3, 9],
 'addit': [4, 10],
 'revis': [2, 8],
 'number': [8, 10],
 'previou': [2, 10],
 'instead': [6, 10],
 'august': [13, 10],
 'better': [12, 10],
 'data': [5, 10],
 'immedi': [9, 10],
 'upward': [1, 7],
 'stock': [1, 10],
 'main': [16, 10],
 'dow': [12, 1],
 'jone': [1, 10],
 'index': [24, 10],
 'point': [5, 10],
 'late': [5, 10],
 'morn': [1, 10],
 'like': [30, 10],
 'situat': [9, 10],
 'improv': [14, 10],
 'support': [4, 10],
 'consum': [17, 10],
 'go': [9, 10],
 'holiday': [1, 10],
 'offset': [14, 8],
 'drag': [1, 10],
 'caus': [13, 10],
 'gari': [11, 10],
 'thayer': [1, 1],
 'ag': [3, 10],
 'edward': [92, 9],
 'son': [12, 8],
 'analyst': [3, 10],
 'upbeat': [1, 10],
 'reserv': [1, 9],
 'increas': [11, 10],
 'percentag': [1, 7],
 'next': [5, 10],
 'empow': [1, 1],
 'fed': [1, 10],
 'clearli': [1, 10],
 'macintosh': [10, 10],
 'eaton': [1, 1],
 'vanc': [1, 1],
 'boston': [20, 9],
 'kathleen': [1, 8],
 'utgoff': [1, 1],
 'commission': [8, 7],
 'bureau': [5, 10],
 'mani': [3, 10],
 'construct': [1, 10],
 'involv': [14, 10],
 'rebuild': [39, 9],
 'clean-up': [5, 1],
 'florida': [1, 8],
 'neighbour': [1, 7],
 'deep': [1, 10],
 'south': [2, 10],
 'state': [3, 10],
 'four': [9, 10],
 'hurrican': [1, 5],
 'rose': [1, 10],
 'temporarili': [1, 10],
 'creation': [33, 10],
 'news': [7, 10],
 'low': [4, 10],
 'investor': [62, 2],
 'attent': [19, 10],
 "us'": [5, 1],
 'deficit': [1, 4],
 'specul': [1, 10],
 'deliber': [28, 9],
 'tri': [7, 10],
 'keep': [31, 10],
 'order': [31, 10],
 'assist': [8, 10],
 'jobless': [18, 1],
 'million': [16, 10],
 'februari': [16, 10],
 'working-ag': [1, 1],
 'popul': [18, 10],
 'highest': [6, 10],
 'head': [3, 10],
 "germany'": [1, 10],
 'panel': [21, 10],
 'advis': [6, 10],
 'tv': [20, 10],
 'ruerup': [1, 1],
 "panel'": [1, 9],
 'optimist': [1, 10],
 'tackl': [1, 10],
 'stubbornly-high': [1, 1],
 'level': [2, 10],
 'rang': [6, 10],
 'labour': [2, 7],
 'reform': [1, 10],
 'centr': [4, 10],
 'hartz-iv': [1, 1],
 'programm': [4, 10],
 'introduc': [6, 10],
 'shake': [1, 10],
 'welfar': [1, 7],
 'benefit': [8, 10],
 'push': [2, 10],
 'heavili': [1, 10],
 'subsidis': [11, 1],
 'latest': [6, 10],
 'set': [8, 10],
 'pressur': [1, 10],
 'wide': [7, 10],
 'leak': [7, 10],
 'newspap': [6, 10],
 'day': [2, 10],
 'advanc': [2, 10],
 'produc': [23, 10],
 'scream': [2, 5],
 'headlin': [10, 10],
 'criticis': [1, 10],
 'chancellor': [5, 7],
 'gerhard': [6, 1],
 "schroeder'": [1, 1],
 'social': [11, 10],
 'democrat-green': [1, 1],
 'parti': [24, 10],
 'administr': [3, 10],
 'schroeder': [1, 2],
 'origin': [2, 10],
 'promis': [15, 10],
 'halv': [1, 5],
 'measur': [2, 10],
 'pictur': [29, 10],
 'quit': [12, 10],
 'bleak': [13, 5],
 'soar': [1, 9],
 'offici': [8, 10],
 'chang': [15, 10],
 'methodolog': [1, 5],
 'adjust': [4, 10],
 'season': [6, 9],
 'overal': [1, 10],
 'internationally-accept': [1, 1],
 'intern': [8, 10],
 'organis': [2, 10],
 'ilo': [3, 1],
 'germani': [1, 10],
 'ilo-bas': [1, 1],
 'take': [6, 10],
 'employ': [15, 10],
 'defin': [1, 10],
 'someon': [28, 10],
 'trim': [1, 8],
 'cadburi': [2, 1],
 "world'": [8, 10],
 'confectioneri': [8, 1],
 'schwepp': [3, 1],
 'modest': [1, 10],
 'bite': [1, 10],
 'underli': [1, 10],
 'pre-tax': [24, 1],
 'higher': [18, 10],
 'currenc': [22, 5],
 'movement': [6, 10],
 'strip': [62, 10],
 'owner': [2, 10],
 'brand': [20, 10],
 'dairi': [14, 6],
 'milk': [1, 10],
 'dr': [2, 10],
 'pepper': [1, 5],
 'snappl': [1, 1],
 'outsid': [6, 10],
 'uk': [5, 10],
 'target': [8, 10],
 'extern': [31, 10],
 'commerci': [5, 10],
 'environ': [2, 10],
 'remain': [13, 10],
 'strategi': [4, 10],
 'within': [6, 10],
 'goal': [33, 10],
 'todd': [1, 8],
 'stitzer': [1, 1],
 'decemb': [12, 10],
 'weather': [1, 10],
 'soft': [4, 8],
 'drink': [1, 9],
 'europ': [12, 10],
 'includ': [8, 10],
 'trident': [1, 4],
 'hall': [1, 8],
 'enjoy': [258, 10],
 'like-for-lik': [6, 1],
 'strong': [2, 10],
 'carbon': [1, 8],
 'led': [4, 10],
 'diet': [2, 6],
 'fuel': [4, 10],
 'cost-cut': [38, 1],
 'save': [3, 10],
 'bring': [12, 10],
 'total': [26, 10],
 'cost': [2, 10],
 'scheme': [9, 10],
 'began': [9, 10],
 'mid': [38, 10],
 'close': [5, 10],
 "group'": [1, 7],
 'factori': [4, 5],
 'shed': [1, 9],
 'workforc': [1, 5],
 'worldwid': [7, 10],
 'retreat': [2, 5],
 'four-month': [1, 5],
 'tuesday': [6, 10],
 'cartel': [3, 1],
 'opec': [20, 1],
 'unlik': [20, 10],
 'comment': [9, 10],
 'act': [5, 10],
 'secretari': [62, 7],
 'adnan': [1, 1],
 'shihab-eldin': [1, 1],
 'crude': [1, 10],
 'cent': [1, 10],
 'barrel': [1, 5],
 'meant': [10, 10],
 'stick': [24, 10],
 'plan': [2, 10],
 'brent': [1, 2],
 'discuss': [29, 10],
 'monday': [20, 10],
 'session': [4, 10],
 'reach': [17, 10],
 'cold': [1, 10],
 'threaten': [6, 10],
 'heat': [4, 10],
 'normal': [21, 10],
 'ago': [9, 10],
 'across': [8, 10],
 'put': [18, 10],
 'winn-dixi': [3, 1],
 'file': [10, 10],
 'supermarket': [2, 1],
 'succumb': [5, 5],
 'stiff': [1, 10],
 'domin': [9, 10],
 'wal-mart': [5, 1],
 'among': [26, 10],
 'grocer': [1, 1],
 'chapter': [5, 8],
 'enabl': [4, 10],
 'restructur': [3, 1],
 'store': [8, 10],
 'open': [19, 10],
 'off-load': [14, 1],
 'site': [11, 10],
 'jacksonvil': [1, 1],
 'florida-bas': [1, 1],
 'petit': [1, 10],
 'list': [13, 10],
 'creditor': [1, 7],
 'food': [1, 10],
 'giant': [3, 10],
 'kraft': [1, 3],
 'owe': [1, 8],
 'burden': [1, 7],
 'need': [9, 10],
 'upgrad': [12, 10],
 'deem': [1, 10],
 'larger-than-expect': [1, 1],
 'quarterli': [1, 10],
 "winn-dixie'": [1, 1],
 'slide': [1, 10],
 'peter': [4, 9],
 'lynch': [3, 1],
 'breath': [1, 9],
 'space': [7, 10],
 'necessari': [4, 10],
 'action': [2, 10],
 'turn': [4, 10],
 'achiev': [1, 10],
 'signific': [33, 10],
 'reduct': [2, 8],
 'merchandis': [6, 1],
 'custom': [18, 10],
 'servic': [3, 10],
 'locat': [36, 10],
 'sens': [12, 10],
 'excit': [6, 10],
 'yet': [11, 10],
 'evan': [1, 9],
 'mann': [1, 2],
 'senior': [2, 10],
 'bond': [1, 9],
 'gimm': [3, 2],
 'credit': [10, 10],
 "lynch'": [1, 1],
 'easi': [16, 10],
 'inevit': [1, 10],
 'real': [9, 10],
 'big': [8, 10],
 "what'": [5, 10],
 'happen': [2, 10],
 'see': [13, 10],
 'local': [50, 10],
 'saab': [62, 1],
 'build': [7, 10],
 'cadillac': [58, 1],
 'sweden': [82, 9],
 'largest': [2, 10],
 'confirm': [5, 10],
 'medium-s': [2, 1],
 'bl': [1, 1],
 'unveil': [2, 10],
 'geneva': [9, 10],
 'intend': [8, 10],
 'compet': [3, 10],
 'luxuri': [3, 5],
 'gm': [1, 8],
 'carl-pet': [1, 1],
 'forster': [9, 2],
 'part': [7, 10],
 'effort': [38, 10],
 'marqu': [6, 1],
 'appeal': [5, 10],
 'driver': [6, 10],
 "gm'": [5, 1],
 'allay': [1, 1],
 'fear': [5, 10],
 "factory'": [1, 1],
 'closur': [2, 1],
 'trollhaettan': [1, 1],
 'rumour': [10, 10],
 'cutback': [1, 7],
 'commit': [18, 10],
 'swedish': [8, 9],
 'opel': [61, 1],
 'worker': [49, 10],
 'ruesselsheim': [1, 1],
 'larger': [5, 10],
 'proport': [4, 10],
 'neither': [3, 10],
 'seen': [2, 10],
 'unalloy': [1, 1],
 'reflect': [7, 10],
 "saab'": [4, 1],
 'inroad': [5, 1],
 'lucr': [25, 10],
 'consist': [1, 10],
 'head-on': [1, 10],
 'bmw': [8, 10],
 'merced': [1, 10],
 'jaguar': [1, 1],
 "segment'": [1, 1],
 'leader': [1, 10],
 'agre': [33, 10],
 'american': [17, 10],
 'altern': [46, 10],
 'establish': [2, 10],
 'upmarket': [2, 1],
 'presidenti': [1, 10],
 'limousin': [1, 1],
 'carri': [28, 10],
 'badg': [5, 1],
 'prove': [15, 10],
 'steal': [25, 10],
 'major': [3, 10],
 'notabl': [10, 5],
 'toyota': [2, 1],
 'subsidiari': [1, 10],
 'lexu': [5, 1],
 'tremend': [1, 9],
 'without': [2, 10],
 'benz': [1, 10],
 'retain': [1, 10],
 'stranglehold': [1, 1],
 'desperately-need': [1, 1],
 'scale': [1, 10],
 'fewer': [1, 10],
 'consid': [9, 10],
 'suffici': [1, 9],
 'lose': [32, 10],
 'fast': [15, 10],
 'albeit': [40, 8],
 'beyond': [8, 10],
 'reduc': [10, 10],
 'expenditur': [1, 8],
 'vauxhal': [63, 1],
 'framework': [35, 10],
 'allow': [2, 10],
 'differ': [24, 10],
 'anoth': [15, 10],
 'shift': [24, 10],
 'adopt': [15, 10],
 'remov': [23, 10],
 'exposur': [24, 10],
 'everyon': [7, 10],
 'industri': [11, 10],
 'best': [39, 10],
 'know': [15, 10],
 'five': [15, 10],
 'stronger': [4, 10],
 'today': [17, 10],
 'lead': [38, 10],
 'bbc': [33, 10],
 'trend': [7, 10],
 'toward': [9, 10],
 'stupid': [1, 9],
 'test': [5, 10],
 'drive': [15, 10],
 'model': [14, 10],
 'deploy': [2, 10],
 'fleet': [5, 8],
 'countri': [11, 10],
 'invit': [1, 10],
 'potenti': [12, 10],
 'buyer': [8, 1],
 'similar': [23, 10],
 'initi': [6, 10],
 'want': [19, 10],
 'percept': [1, 7],
 'qualiti': [9, 10],
 'bank': [4, 10],
 'vote': [21, 10],
 'decis': [2, 10],
 'hold': [38, 10],
 'pass': [5, 10],
 "england'": [1, 7],
 'rate-set': [3, 1],
 'bodi': [12, 10],
 'minut': [7, 10],
 'shown': [22, 10],
 "bank'": [6, 10],
 'monetari': [1, 10],
 'committe': [12, 10],
 'mpc': [1, 8],
 'paul': [1, 10],
 'tucker': [10, 1],
 'surpris': [7, 10],
 'unanim': [2, 7],
 'worri': [3, 10],
 'behind': [11, 10],
 'freez': [1, 10],
 'inflat': [2, 8],
 'releas': [16, 10],
 'note': [1, 10],
 'reason': [64, 10],
 'might': [14, 10],
 'argu': [7, 10],
 'equiti': [1, 7],
 'hous': [4, 10],
 'risk': [6, 10],
 'downsid': [1, 10],
 'warrant': [1, 10],
 'cours': [2, 10],
 'evolv': [5, 10],
 'line': [9, 10],
 'central': [15, 10],
 'project': [2, 10],
 'ross': [5, 2],
 'walker': [3, 9],
 'royal': [1, 9],
 'scotland': [1, 10],
 'dissent': [1, 7],
 'soon': [4, 10],
 'focu': [20, 10],
 'possibl': [3, 10],
 'pan': [1, 10],
 'probabl': [21, 10],
 'hike': [1, 7],
 'later': [2, 10],
 'sustain': [41, 10],
 'reviv': [46, 5],
 'hope': [28, 10],
 'faster': [12, 10],
 "country'": [1, 10],
 'recess': [28, 1],
 'retail': [15, 10],
 'sent': [22, 10],
 'eight-month': [1, 1],
 'contract': [2, 10],
 'nikkei': [3, 1],
 'end': [21, 10],
 'strengthen': [1, 10],
 'trigger': [1, 10],
 'shrink': [1, 6],
 'gdp': [25, 1],
 'whole': [3, 10],
 'declin': [1, 10],
 'brought': [8, 10],
 'cautious': [1, 6],
 'seriou': [20, 10],
 'toshihiko': [1, 1],
 'fukui': [1, 1],
 'indic': [1, 10],
 'pullback': [1, 1],
 'slowdown': [1, 10],
 'best-perform': [1, 1],
 'oversea': [3, 10],
 'area': [2, 10],
 'chemic': [11, 8],
 'electron': [15, 10],
 'flat-screen': [1, 1],
 'khodorkovski': [5, 1],
 'alli': [1, 10],
 'associ': [18, 10],
 'yuko': [5, 1],
 'mikhail': [1, 1],
 'fals': [1, 10],
 'platon': [1, 1],
 'lebedev': [5, 1],
 'alongsid': [20, 10],
 'june': [20, 9],
 'case': [23, 10],
 'privatis': [1, 7],
 'fertilis': [1, 1],
 'pair': [16, 10],
 'punish': [1, 9],
 'author': [15, 10],
 'polit': [2, 10],
 'ambit': [10, 9],
 'absurd': [2, 6],
 'contradict': [29, 4],
 'defenc': [3, 10],
 'legal': [18, 10],
 'basi': [1, 10],
 'evas': [1, 9],
 'embarrass': [11, 10],
 'complaint': [1, 10],
 'moscow': [13, 8],
 'menatep': [1, 1],
 'parent': [5, 10],
 'jail': [1, 10],
 ...}

In [19]:
#@title
def sigmoid(z): 
    '''
    Input:
        z: is the input (can be a scalar or an array)
    Output:
        h: the sigmoid of z
    '''
    #assert(z.shape == (1, 11))
    # calculate the sigmoid of z
    h = 1 / (1 + np.exp(-z))
 
    
    return h

In [20]:
#@title
def gradientDescent(x, y, theta, alpha, num_iters):
    '''
    Input:
        x: matrix of features which is (m,n+1)
        y: corresponding labels of the input matrix x, dimensions (m,1)
        theta: weight vector of dimension (n+1,1)
        alpha: learning rate
        num_iters: number of iterations you want to train your model for
    Output:
        J: the final cost
        theta: your final weight vector
    Hint: you might want to print the cost to make sure that it is going down.
    '''
    # get 'm', the number of rows in matrix x
    m = 990     
    for i in range(0, num_iters):
        
        # get z, the dot product of x and theta
        z = np.dot(x,theta)
        
        # get the sigmoid of h
        h = sigmoid(z)
        
        # calculate the cost function
        J = -1./m * (np.dot(y.transpose(), np.log(h)) + np.dot((1-y).transpose(),np.log(1-h)))                                                    

        # update the weights theta
        theta = theta - (alpha/m) * np.dot(x.transpose(),(h-y))
        
    #J.float()
    return J, theta

In [21]:
#@title
def extract_features(doc_list, freqs):
    '''
    Input: 
        tweet: a list of words for one tweet
        freqs: a dictionary corresponding to the frequencies of each tuple (word, label)
    Output: 
        x: a feature vector of dimension (1,3)
    '''
   
    # 3 elements in the form of a 1 x 3 vector
    x = np.zeros((1, 11)) 
    
    #bias term is set to 1
    x[0,0] = 1 
    
    # loop through each word in the list of words
    for word in doc_list :
      if word in freqs.keys():
        if freqs[word][1] == 1 :
          x[0,1] += 1 
        if freqs[word][1] == 2 :
          x[0,2] += 1 
        if freqs[word][1] == 3 :
          x[0,3] += 1       
        if freqs[word][1] == 4 :
          x[0,4] += 1   
        if freqs[word][1] == 5 :
          x[0,5] += 1        
        if freqs[word][1] == 6 :
          x[0,6] += 1        
        if freqs[word][1] == 7 :
          x[0,7] += 1        
        if freqs[word][1] == 8 :
          x[0,8] += 1   
        if freqs[word][1] == 9 :
          x[0,9] += 1 
        if freqs[word][1] == 10 :
          x[0,10] += 1   

    assert(x.shape == (1, 11))
    return x

In [22]:
#@title
x = []
for t_list in df.clean_tokens :
  tmp = extract_features(t_list, freq)
  x.append(tmp)

In [23]:
#@title
df['x'] = x

In [24]:
#@title
df.head()

                                            document  ...                                                  x
0  Lufthansa flies back to profit\n\nGerman airli...  ...  [[1.0, 10.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 6.0...
1  Japanese growth grinds to a halt\n\nGrowth in ...  ...  [[1.0, 10.0, 1.0, 0.0, 0.0, 2.0, 0.0, 7.0, 2.0...
2  WorldCom director admits lying\n\nThe former c...  ...  [[1.0, 26.0, 0.0, 0.0, 0.0, 2.0, 9.0, 4.0, 1.0...
3  Glaxo aims high after profit fall\n\nGlaxoSmit...  ...  [[1.0, 11.0, 2.0, 0.0, 0.0, 0.0, 2.0, 1.0, 4.0...
4  Peugeot deal boosts Mitsubishi\n\nStruggling J...  ...  [[1.0, 33.0, 2.0, 0.0, 0.0, 1.0, 1.0, 1.0, 4.0...

[5 rows x 4 columns]

In [25]:
#@title
X = np.zeros((len(df), 11))
for i in range(len(df)):
    X[i, :]= extract_features(df.clean_tokens[i], freq)

In [26]:
#@title
X.shape

(990, 11)

In [27]:
#@title
y= df.label.astype(float)

In [28]:
#@title
J, theta = gradientDescent(X, y.values, np.zeros((11, 1)), 1e-9,440)

In [29]:
#@title
theta

array([[2.19648694e-07, 2.19648694e-07, 2.19648694e-07, ...,
        4.17339093e-06, 4.17339093e-06, 4.17339093e-06],
       [3.74298426e-07, 3.74298426e-07, 3.74298426e-07, ...,
        7.11167969e-06, 7.11167969e-06, 7.11167969e-06],
       [5.37991529e-07, 5.37991529e-07, 5.37991529e-07, ...,
        1.02218465e-05, 1.02218465e-05, 1.02218465e-05],
       ...,
       [4.14966194e-06, 4.14966194e-06, 4.14966194e-06, ...,
        7.88672274e-05, 7.88672274e-05, 7.88672274e-05],
       [3.30274436e-06, 3.30274436e-06, 3.30274436e-06, ...,
        6.27597366e-05, 6.27597366e-05, 6.27597366e-05],
       [3.68850652e-05, 3.68850652e-05, 3.68850652e-05, ...,
        7.00942710e-04, 7.00942710e-04, 7.00942710e-04]])

In [30]:
#@title
print(J)

[0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246 0.65856246
 0.65856246 0.65856246 0.65856246 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377 0.58947377
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123 0.52049123
 0.52049123 0.52049123 0.52049123 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252 0.45161252
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485 0.38283485
 0.38283485 0.38283485 0.38283485 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519 0.31415519
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034 0.24557034
 0.24557034 0.24557034 0.24557034 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709 0.17707709
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228 0.10867228
 0.10867228 0.10867228 0.10867228 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287
 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287 0.04035287]

In [31]:
def hypothesis(theta , X):
    z = np.dot(X, theta)
    return 1/(1+np.exp(-(z)))

In [32]:
def cost(X, y, theta):
    y1 = hypothesis(X, theta)
    return -(1/len(X)) * np.sum(y*np.log(y1) + (1-y)*np.log(1-y1))

In [34]:
def gradient_descent(X, y, theta, alpha, epochs):
    m = len(X)
    for i in range(0, epochs):
        for j in range(0, 10):
            theta = pd.DataFrame(theta)
            h = hypothesis(theta.iloc[:,j], X)
            for k in range(0, theta.shape[0]):
                theta.iloc[k, j] -= (alpha/m) * np.sum((h-y.iloc[:, j])*X.iloc[:, k])
            theta = pd.DataFrame(theta)
    return theta, cost

In [35]:
X = pd.DataFrame(X)

In [70]:
X

      0     1    2    3    4    5    6    7    8     9      10
0    1.0  10.0  0.0  0.0  0.0  0.0  0.0  1.0  6.0   7.0   52.0
1    1.0  10.0  1.0  0.0  0.0  2.0  0.0  7.0  2.0  10.0  123.0
2    1.0  26.0  0.0  0.0  0.0  2.0  9.0  4.0  1.0   9.0  155.0
3    1.0  11.0  2.0  0.0  0.0  0.0  2.0  1.0  4.0   6.0   94.0
4    1.0  33.0  2.0  0.0  0.0  1.0  1.0  1.0  4.0  10.0  126.0
..   ...   ...  ...  ...  ...  ...  ...  ...  ...   ...    ...
985  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  487.0
986  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  172.0
987  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  280.0
988  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  234.0
989  1.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  400.0

[990 rows x 11 columns]

In [37]:
y = pd.DataFrame()

In [38]:
y = pd.get_dummies(df.label)

In [39]:
y.head()

   1   2   3   4   5   6   7   8   9   10
0   1   0   0   0   0   0   0   0   0   0
1   1   0   0   0   0   0   0   0   0   0
2   1   0   0   0   0   0   0   0   0   0
3   1   0   0   0   0   0   0   0   0   0
4   1   0   0   0   0   0   0   0   0   0

In [91]:
theta = np.zeros([X.shape[1], y.shape[1]])
theta , cost = gradient_descent(X, y, theta, 1e-9, 2000)

In [92]:
theta

               0             1  ...             8             9
0  -7.940677e-07 -7.938147e-07  ... -7.938067e-07 -7.949211e-07
1   1.713963e-06 -1.693648e-06  ... -1.693619e-06 -1.695557e-06
2  -2.214869e-06  2.238070e-06  ... -2.436579e-06 -2.438752e-06
3  -2.278316e-06 -2.267942e-06  ... -2.344718e-06 -2.345898e-06
4  -2.510261e-06 -2.451025e-06  ... -2.593990e-06 -2.615093e-06
5  -9.243017e-06 -9.098505e-06  ... -9.853530e-06 -9.885186e-06
6  -8.025005e-06 -8.021287e-06  ... -8.350326e-06 -8.393115e-06
7  -6.015246e-06 -6.274106e-06  ... -6.958745e-06 -6.975318e-06
8  -1.737608e-05 -1.705970e-05  ... -1.853042e-05 -1.860845e-05
9  -1.340805e-05 -1.315752e-05  ... -3.582308e-06 -1.489794e-05
10 -1.356956e-04 -1.417654e-04  ... -1.424835e-04 -1.151075e-04

[11 rows x 10 columns]

# testing

In [46]:
test_set= []
for c in classes :
  path =datadir + c + '/' + c + '_'
  s =  str(100) +'.txt'
  final_path = path + s 
  with open(final_path , 'r') as reader:
    test_set.append(reader.read())

In [47]:
len(test_set)

10

In [48]:
y_t = [1,2,3,4,5,6,7,8,9,10]
y_test = pd.get_dummies(y_t)

In [49]:
y_test

   1   2   3   4   5   6   7   8   9   10
0   1   0   0   0   0   0   0   0   0   0
1   0   1   0   0   0   0   0   0   0   0
2   0   0   1   0   0   0   0   0   0   0
3   0   0   0   1   0   0   0   0   0   0
4   0   0   0   0   1   0   0   0   0   0
5   0   0   0   0   0   1   0   0   0   0
6   0   0   0   0   0   0   1   0   0   0
7   0   0   0   0   0   0   0   1   0   0
8   0   0   0   0   0   0   0   0   1   0
9   0   0   0   0   0   0   0   0   0   1

In [51]:
clean_test = []
for i in range(10):
  clean_test.append(clean(test_set[i]))

In [96]:
x_test = np.zeros((len(clean_test), 11))
for i in range(10):
    x_test[i, :]= extract_features(clean_test[i], freq)

In [97]:
y_pred = []
for i in range(0, 10):
    theta1 = pd.DataFrame(theta)
    h = hypothesis(theta1.iloc[:,i], x_test)
    y_pred.append(h)
y_pred=pd.DataFrame(y_pred)

In [98]:
y_pred

          0         1         2  ...         7         8         9
0  0.496772  0.496716  0.497022  ...  0.497260  0.495623  0.489346
1  0.496630  0.496576  0.496898  ...  0.497156  0.495435  0.488877
2  0.496445  0.496386  0.496753  ...  0.497026  0.495191  0.488258
3  0.496676  0.496620  0.496943  ...  0.497211  0.495493  0.489026
4  0.497556  0.497509  0.497738  ...  0.497919  0.496686  0.491889
5  0.496803  0.496750  0.497090  ...  0.497321  0.495686  0.489449
6  0.496941  0.496888  0.497177  ...  0.497393  0.495853  0.489896
7  0.496916  0.496883  0.497233  ...  0.497641  0.495826  0.489814
8  0.496621  0.496561  0.496900  ...  0.497142  0.495465  0.488833
9  0.497253  0.497199  0.497436  ...  0.497608  0.496252  0.490944

[10 rows x 10 columns]

In [102]:
accuracy = 0
for col in range(0,10):
    for row in range(len(y_pred)):
        if y.iloc[row, col] == 1 and y_pred.iloc[col, row] >= 0.49:
            accuracy += 1
accuracy = accuracy/len(x_test)

In [103]:
accuracy

0.8